.app-container {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-inner-container {
  width: 1180px;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: center;
  align-items: center;
}

.app-inner-inner-container {
  width: 100%;
  height: 85vh;
  padding: 20px;
  overflow-y: auto;
  border: 1px solid black;
}
