.card-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.card {
  margin: 10px;
  padding: 0px;
  width: 280px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;

  /*border: 1px solid black;*/
}

.image {
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 280px;
  height: 175px;
  background-position: center;
  background-size: cover;
  border-radius: 5px 5px 0px 0px;
  background-color: white;
  border-bottom: 1px solid black;
}
.card-text {
  border-radius: 10px;
  text-align: center;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  /* background-color: lavender; */
  background-color: white;
}
.notCarted {
  margin: 0px;
  background-color: #007bff;
  border: 2px solid #007bff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: white;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 550;
  line-height: 1.5;
  border-radius: 0px 0px 5px 5px;
  /*transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;*/
}

.notCarted:hover {
  background-color: #1f80e9;
  border-color: #1f80e9;
  color: white;
}
.carted {
  margin: 0px;
  background-color: white;
  border: 2px solid #007bff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: black;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 550;
  line-height: 1.5;
  border-radius: 0px 0px 5px 5px;
  /*transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;*/
}

.carted:hover {
  background-color: white;
  color: #007bff;
}

.gear {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: 1px solid blue;
  font-size: 40px;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
}

.card:hover .gear {
  display: flex;
}
.gear:hover {
  display: flex;
}
.add-dish-card {
  margin: 10px;
  padding: 0px;
  width: 280px;
  height: 280px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.add-dish {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.filtered-results {
  direction: rtl;
}
.filtered-results select,
.filtered-results select option {
  width: 100%;
  text-align-last: center;
  cursor: pointer;
  color: white;
  background-color: #4a60ad;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 20px;
}

/*ordered_cards*/
.special {
  width: 500px;
}

.order-table div {
  display: table-cell !important;
}

.hero-categorie {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-categorie-inner {
  height: 30vh;
  background-size: cover;
  width: 100%;
}
