.logContainer {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.mylogo {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
}
.mylogo h1 {
  color: red;
  display: inline;
}
.logContainer img {
  color: white;
  margin: 5px;
  width: 60px;
}
.logContainer form {
  width: 360px;
}
.logContainer input {
  box-sizing: border-box;
  margin-top: 5px;
  border: 1px solid #dddfe2;
  height: 22px;
  line-height: 16px;
  vertical-align: middle;
  border-radius: 6px;
  padding: 25px 16px;
  width: 100%;
  font-size: 17px;
  outline-style: none;
}

.logContainer button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  width: 100%;

  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;

  color: #fff;

  font-weight: bold;
  justify-content: center;
}

.logContainer button:hover {
  background-color: #1f80e9;
}

@media only screen and (max-width: 600px) {
  .logContainer form {
    width: 250px;
  }
}

@media only screen and (max-width: 300px) {
  .logContainer form {
    width: 200px;
  }
}
