@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

* {
  box-sizing: border-box;
}
.nav {
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  background-color: white;
  top: 0%;
  z-index: 3;
}
.navbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-inner-container {
  direction: ltr;

  width: 1180px;
  /*background-color: thistle;*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.navbar-inner-container div {
  cursor: pointer;
}
.logo {
  padding: 5px;
  margin: 5px;
}

.right-side {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
}
.menu div {
  padding: 5px;
  margin: 5px;
}
.auth {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.auth div {
  padding: 5px;
  margin: 5px;
}
.cart {
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.fa-shopping-cart {
  color: blue;
  font-size: 30px;
}
.cart i {
  position: relative;
}
.cart i span {
  position: absolute;
  background-color: goldenrod;
  border: 2px solid black;
  top: -7px;
  right: -10px;
  font-size: 20px;
  border-radius: 30px;
  color: white;
  padding: 2px;
}
.auth-register {
  border: 2px solid blue;
  color: blue;
}
.auth-login {
  border: 2px solid green;
  color: green;
}
.auth-logout {
  border: 2px solid red;
  color: red;
}

/****************************************************************/
.modal {
  direction: ltr;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  width: 100%;
  height: 100vh;
  z-index: 1000;
}
.register-m {
  border-radius: 10px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
}
.register-m input {
  border: 1px solid #a6a6a6;
  border-top-color: #949494;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5),
    0 1px 0 rgba(0, 0, 0, 0.07) inset;
  outline: 0;
  background-color: #fff;
  height: 31px;
  padding: 3px 7px;
  line-height: normal;
  border-radius: 4px;
}
.register-m label {
  display: block;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-top: 20px;
  font-weight: 700;
  line-height: 20px;
}
.register-m h3 {
  text-align: center;
}
.register-btn {
  margin-top: 10px;
  background-color: #007bff;
  border: 1px solid #007bff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: white;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 550;
  line-height: 1.5;
  border-radius: 5px;
}
.cancel-btn {
  margin-top: 10px;
  background-color: white;
  border: 1px solid #007bff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: #007bff;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 550;
  line-height: 1.5;
  border-radius: 5px;
}

.carted-m {
  /* width: 70%;
  height: 600px; */
  overflow: auto;
  border-radius: 10px;
  position: absolute;
  max-height: 90%;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  padding: 20px;
  background-color: white;
}
.empty-cart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.carted-item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
.carted-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin: 0em;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
}
.ofx {
  overflow-x: auto;
  /* min-width: 600px; */
}
.carted-table td,
.carted-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.carted-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.carted-table tr:hover {
  background-color: #ddd;
}
.carted-table th {
  padding-top: 12px;
  padding-bottom: 12px;

  background-color: rgb(37, 95, 143);
  color: white;
}

.carted-table div {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.carted-img {
  margin: 0px;
  padding: 0px;
  width: 190px;
  height: 118px;
  background-position: center;
  background-size: contain;
  border-radius: 5px;
}
.white-back {
  position: relative;
  background-color: white !important;
  z-index: 1;
}
.white-back:hover {
  background-color: white !important;
}
.magasin-img {
  position: absolute;
  border-radius: 50%;
  width: 30%;
  left: 0;
  bottom: 0;
}
.promo-span {
  position: absolute;
  border-radius: 50%;
  /* width: 30%; */
  top: 0;

  background-color: red;
  border: 2px solid red;
  top: -7px;
  right: -10px;
  border-radius: 20%;
  color: white;
  padding: 4px;
}

.remove-item {
  background-color: #dc3545;
  border-color: #dc3545;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: white;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.remove-item:hover,
.remove-item:hover {
  background-color: #c82333;
  border-color: #bd2130;
}
.order-dish-quantity {
  border-radius: 5px;
  width: 100px;
  font-size: 20px;
}
.total {
  border: 2px solid black;
  margin-top: 2px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.total h4,
.total p {
  margin-left: 20px;
}
.carted-btns {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.confirm-o {
  width: 200px;
  margin: 10px;
  background-color: #007bff;
  border: 2px solid #007bff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: white;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 550;
  line-height: 1.5;
  border-radius: 5px;
}
.cancel-o {
  width: 200px;
  margin: 10px;
  background-color: white;
  border: 2px solid #007bff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: black;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 550;
  line-height: 1.5;
  border-radius: 5px;
}

.cancel-o:hover {
  color: #007bff;
}
.confirm-o:hover {
  background-color: #1f80e9;
  border-color: #1f80e9;
}

.carted-item .title {
  text-align: center;
}

.link {
  cursor: pointer;
  text-decoration: underline;
  color: #1a4a7e;
}
.notification {
  text-align: center;
  color: #bd2130;
}
