.regContainer {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.regContainer form {
  width: 360px;
}
.mylogo {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
}
.mylogo h1 {
  color: white;
  display: inline;
}
.regContainer img {
  color: white;
  margin: 5px;
  width: 60px;
}
.regContainer input {
  box-sizing: border-box;
  padding: 25px 16px;
  margin-top: 5px;
  border: 1px solid #dddfe2;
  height: 22px;
  line-height: 16px;
  vertical-align: middle;
  border-radius: 6px;
  width: 100%;
  font-size: 17px;
  outline-style: none;
}
.myregselect {
  box-sizing: border-box;
  margin-top: 5px;
  width: 100%;
  font-size: 17px;
  outline-style: none;
  border-radius: 6px;
  line-height: 16px;
  height: 44px;

  text-indent: 10px;
}

.regContainer button {
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  width: 100%;

  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;

  color: #fff;

  font-weight: bold;
  justify-content: center;
}

.regContainer button:hover {
  background-color: #1f80e9;
}
/*/////*/

@media only screen and (max-width: 600px) {
  .regContainer form {
    width: 250px;
  }
}

@media only screen and (max-width: 300px) {
  .regContainer form {
    width: 200px;
  }
}


/* loader*/
.loader {  
  display: inline-block;
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.submitbtn{
  display: flex;
  justify-content: baseline;
  align-content: baseline;
}