.sidebar-container {
  width: 250px;
  padding: 20px;
  height: 85vh;
  border: 1px solid black;
}
.normal-sidebar {
  text-decoration: none;
  display: block;
  margin-top: 10px;
  background-color: white;
  border: 1px solid #007bff;
  text-align: center;
  white-space: nowrap;
  color: black;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 550;
  line-height: 1.5;
  border-radius: 5px;
}
.normal-sidebar:hover {
  background-color: white;
  color: #007bff;
}
.active-sidebar {
  text-decoration: none;
  display: block;
  margin-top: 10px;
  background-color: #007bff;
  border: 1px solid #007bff;
  text-align: center;
  white-space: nowrap;
  color: white;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 550;
  line-height: 1.5;
  border-radius: 5px;
}
.active-sidebar:hover {
  text-decoration: none;
  display: block;
  margin-top: 10px;
  background-color: #1f80e9;
  border: 1px solid #1f80e9;
  text-align: center;
  white-space: nowrap;
  color: white;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 550;
  line-height: 1.5;
  border-radius: 5px;
}
