body {
  height: 100vh;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
input,button{
  width: 100%;
}

.app-container{
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-inner-container{
  width: 1180px;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: center;
  align-items: center;
}

.app-inner-inner-container{
  width: 100%;
  height: 600px;
  overflow-y: auto;
  border: 1px solid black;


}