/* body {
  height: 100vh;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-attachment: fixed;
} */
body {
  height: 100vh;
  background: white;
  background-attachment: fixed;
}
input,
button {
  width: 100%;
}

.app-container {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-inner-container {
  width: 1180px;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: center;
  align-items: center;
}

.app-inner-inner-container {
  width: 100%;
  height: 600px;
  overflow-y: auto;
  border: 1px solid black;
}

.vContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.verifyEmail{
  width: 80vw;
  transition: opacity 0.15s linear;
  right: -50vw;
  width: fit-content;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding-right: 4rem;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}